*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexContainer{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 0 30px;
}
.menu{
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
    border-right: 1px solid #C7C7C7;
    gap: 40px;
    position:fixed;
    left: 30px;
    color: #262626;
}
.menu a{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #262626;
    gap: 20px;
}
#instaLogo{
    margin-top: 20px;
}
#messagesIcon{
    width: 18px;
}
#menuIcon{
    font-weight: 700;
}
.stories{
    grid-area: header;
}
.feeds{
    grid-area: main;
}
.profile{
    grid-area: right;
}
.gridContainer{
    display: grid;
    position: relative;
    left: 350px;
    padding-top: 30px;
    grid-template-areas: 
    'header header header right right'
    'main main main right right';
    column-gap: 30px;
}
.stories img{
    border-radius: 50%;
    border: 3px solid transparent;
    background: linear-gradient(to bottom, #ff009d 65%, #ffcc00 100%);
}
.stories{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: hidden;
    gap: 12px;
    background-color: #FFFFFF;
    margin: 0;
    padding: 20px 0 20px 20px;
    border: 1px solid #C7C7C7;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 470px;
}
#stories{
    display: flex;
    flex-direction: column;
}
#storiesLast{
    position: relative;
}
#arrow1{
    position: absolute;
    z-index: 1;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: 70px;
    left: 440px;
}
#stories p{
    font-size: 10px;
    text-align: center;
}
.feeds{
    display: flex;
    flex-direction: column;
}
#feeds{
    padding-bottom: 20px;
}
.feedsTop{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #C7C7C7;
    border-radius: 12px 12px 0 0;
    padding: 10px;
}
#p1{
    font-size: 14px;
    color: #262626;
}
#p2{
    font-size: 12px;
    color: #262626;
}
.feedsBottom{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #C7C7C7;
    border-top: none;
    border-radius: 0 0 12px 12px;
}
#feedsTop{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#feedsBottomIcons{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
#feedsBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 20px 20px 0;
}
.feedsBottomLike{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 10px;
    padding: 0 20px;
}
#feedsBottomComment{
    padding: 0 20px 20px;
}
#p3{
    font-size: 10px;
    padding: 0 20px;
    padding-top: 4px;
}
#p4{
    font-size: 12px;
}
#p5{
    font-size: 14px;
    padding: 0 20px;
}
#p6{
    color: #b3dbff;
    padding: 0 20px 20px;
}
.feedsBottomComment{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    border-top: 1px solid #C7C7C7;
    padding-top: 20px;
}
#favoriteIcon{
    font-size: 30px;
}
input[type=text] {
    border: none;
    padding: 4px 10px;
}
input[type=text]:focus {
    outline: none;
}
.feedsBottomComment span{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
#more__icon{
    justify-self: right;
}
.ownerAccount{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 16px;
}
#account__circle{
    font-size: 50px;
    margin: 0;
}
.ownerAccount h4{
    padding-left: 70px;
    color: #0095F6;
    font-size: 12px;
}
#account__info h5{
    color: #262626;
    font-size: 14px;
}
#account__info p{
    padding-top: 6px;
    color: #8E8E8E;
    font-size: 14px;
}
.suggestions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
}
.suggestions p{
    font-size: 14px;
    color: #8E8E8E;
}
.suggestions h6{
    font-size: 12px;
    color: #262626;
}
#follow__profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
}
#follow__profile img{
    border-radius: 50%;
    margin-top: 4px;
}
#follow__me{
    margin: 0;
}

#follow__me h5{
    font-size: 14px;
    color: #262626;
}
#follow__me p{
    font-size: 12px;
    color: #8E8E8E;
    
}
#follow{
    font-size: 12px;
    color: #0095F6;
    padding-left: 35px;
}
#footer__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer__info p{
    font-size: 12px;
    padding-top: 20px;
    color: #C7C7C7;
}
#lang{
    font-size: 12px;
    padding-top: 8px;
    color: #C7C7C7;
}
#copy{
    font-size: 12px;
    padding-top: 20px;
    color: #C7C7C7;
}
