*{
    box-sizing: border-box;
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.flexContainer{
    display: flex;
    flex-direction: row;
    gap: 140px;
    padding: 30px;
}
.menu{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: sticky;
    color: #262626;
}
.menu a{
    text-decoration: none;
    color: #262626;
}
#messagesIcon{
    width: 16px;
}
.stories{
    grid-area: header;
}
.feeds{
    grid-area: main;
}
.profile{
    grid-area: right;
}
.gridContainer{
    display: grid;
    grid-template-areas: 
    'header header header right right'
    'main main main right right';
    column-gap: 30px;
}
.stories img{
    width: 66px;
    height: 66px;
    border-radius: 50%;
    border: 3px solid transparent;
    margin-right: 20px;
    background: linear-gradient(to bottom, #ff009d 65%, #ffcc00 100%);
}
.stories{
    background-color: #FFFFFF;
    padding: 20px 0 20px 20px;
    border: 1px solid #C7C7C7;
    border-radius: 12px;
    margin-bottom: 30px;
}
.feeds{
    display: flex;
    flex-direction: column;
}
.ownerAccount{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 16px;
}
#account__circle{
    font-size: 50px;
    margin: 0;
}
.ownerAccount h4{
    padding-left: 70px;
    color: #0095F6;
    font-size: 12px;
}
#account__info h5{
    color: #262626;
    font-size: 14px;
}
#account__info p{
    padding-top: 6px;
    color: #8E8E8E;
    font-size: 14px;
}
.suggestions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 15px;
}
.suggestions p{
    font-size: 14px;
    color: #8E8E8E;
}
.suggestions h6{
    font-size: 12px;
    color: #262626;
}
#follow__profile{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin: 0;
    padding: 0;
    padding-bottom: 12px;
}
#follow__profile img{
    border-radius: 50%;
    margin-top: 4px;
}
#follow__me{
    margin: 0;
}

#follow__me h5{
    font-size: 14px;
    color: #262626;
}
#follow__me p{
    font-size: 12px;
    color: #8E8E8E;
    
}
#follow{
    font-size: 12px;
    color: #0095F6;
    padding-left: 35px;
}
#footer__info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#footer__info p{
    font-size: 12px;
    padding-top: 20px;
    color: #C7C7C7;
}
#lang{
    font-size: 12px;
    padding-top: 8px;
    color: #C7C7C7;
}
#copy{
    font-size: 12px;
    padding-top: 20px;
    color: #C7C7C7;
}
